Beacon/flows.json
[{"id":"746b94d8.ac227c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fea769c0.29c548","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"beacon/output","qos":"2","datatype":"auto","broker":"58d78ba8.967cb4","x":890,"y":580,"wires":[["a98b62f5.f4b9d"]]},{"id":"a98b62f5.f4b9d","type":"debug","z":"746b94d8.ac227c","name":"Raspberry Pi Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":580,"wires":[]},{"id":"65c78d60.629d44","type":"mqtt out","z":"746b94d8.ac227c","name":"","topic":"","qos":"2","retain":"","broker":"58d78ba8.967cb4","x":590,"y":560,"wires":[]},{"id":"7eefccfe.11b064","type":"inject","z":"746b94d8.ac227c","name":"Beacon1Position","topic":"beacon/output","payload":"ID,B1,Lat,374273550,Long,-1221698480","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":560,"wires":[["65c78d60.629d44"]]},{"id":"22d81a79.606516","type":"comment","z":"746b94d8.ac227c","name":"Data sent by beacon1 when movement detected","info":"","x":340,"y":580,"wires":[]},{"id":"4848e727.abc298","type":"inject","z":"746b94d8.ac227c","name":"Beacon1ID","topic":"beacon/output","payload":"ID,B1,Cont,MC-741","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["65c78d60.629d44"]]},{"id":"af3a3bd3.288568","type":"comment","z":"746b94d8.ac227c","name":"Data sent by beacon1 when valid container ID detected","info":"The beacon will receive a list of valid container IDs from the server. Once a valid one is detected, it sends the detected ID which pairs the beacon with the container","x":360,"y":640,"wires":[]},{"id":"49613849.3c00d8","type":"comment","z":"746b94d8.ac227c","name":"Beacon Output","info":"","x":600,"y":520,"wires":[]},{"id":"283da8af.049708","type":"comment","z":"746b94d8.ac227c","name":"Data being received from beacon","info":"","x":990,"y":540,"wires":[]},{"id":"28411c0d.f09684","type":"mqtt out","z":"746b94d8.ac227c","name":"","topic":"","qos":"2","retain":"","broker":"58d78ba8.967cb4","x":570,"y":800,"wires":[]},{"id":"babe90d4.00aff","type":"comment","z":"746b94d8.ac227c","name":"Beacon Input","info":"","x":570,"y":760,"wires":[]},{"id":"f6ef3553.09d7d8","type":"inject","z":"746b94d8.ac227c","name":"ValidContainerIDs","topic":"beacon/input","payload":"Containers, MC-734, MC-821, MC-824, MC-741","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":800,"wires":[["28411c0d.f09684"]]},{"id":"2b7e7d33.ac0c52","type":"comment","z":"746b94d8.ac227c","name":"List of valid container IDs sent to beacon","info":"","x":360,"y":820,"wires":[]},{"id":"1d9af9cb.c1e836","type":"inject","z":"746b94d8.ac227c","name":"BeaconCommand","topic":"beacon/input","payload":"ID,B1,Comm, 01","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":860,"wires":[["28411c0d.f09684"]]},{"id":"d2d0e8bd.75d4c8","type":"comment","z":"746b94d8.ac227c","name":"Sends a command to a specific beacon","info":"Exact form and function of command is undefined\nIt may light an LED or trigger a position update or put it to sleep","x":350,"y":880,"wires":[]},{"id":"7c0b7cd4.5bf3e4","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"beacon/input","qos":"2","datatype":"auto","broker":"58d78ba8.967cb4","x":890,"y":680,"wires":[["64fc2d00.4f1fa4"]]},{"id":"64fc2d00.4f1fa4","type":"debug","z":"746b94d8.ac227c","name":"Raspberry Pi Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":680,"wires":[]},{"id":"ae07b7d4.260a58","type":"comment","z":"746b94d8.ac227c","name":"Data being set to beacon","info":"","x":970,"y":640,"wires":[]},{"id":"d947c3e0.6face","type":"function","z":"746b94d8.ac227c","name":"Store beacon data","func":"//Anchor variables\nvar AnchorLong = flow.get(\"AnchorLong\");\nvar AnchorLat = flow.get(\"AnchorLat\");\n//If this is the first iteration, intitialize them\nif(!AnchorLong){\n    AnchorLong = 0;\n}\nif(!AnchorLat){\n    AnchorLat = 0;\n}\n\n//Radius of the earth\nvar R = 6.371 * 10^6;\n\n//Array of beacons\nvar BeaconList = flow.get(\"BeaconList\");\nif(!BeaconList){\n    BeaconList = [];\n}\n\n//Array of currently being tracked container IDs\nvar ContainerList = flow.get(\"ContainerList\");\nif(!ContainerList){\n    ContainerList = [];\n}\n\n//Class that stores data on each on the beacons\nclass Beacon {\n    constructor(ID, long, lat){\n        this.id = ID;\n        this.container = null;\n        this.long = long;\n        this.lat = lat;\n        this.x = 0;\n        this.y = 0;\n    }\n\n    //Set the longitudinal position of the beacon\n    /**\n     * @param {Number} long_new\n     */\n    setLong(long_new){\n        this.long = long_new;\n        \n    }\n    //Set the latitudinal position of the beacon\n    /**\n     * @param {Number} lat_new\n     */\n    setLat(lat_new){\n        this.lat = lat_new;\n    }\n\n    /**\n     * @param {String} container_new\n     */\n    setContainer(container_new){\n        this.container = container_new\n    }\n\n    //Returns the current container associated with this beacon\n    get getContainer(){\n        return this.container;\n    }\n\n    //Returns the current beacon ID\n    get getID(){\n        return this.id;\n    }\n\n    //Get X and Y position relative to the anchor beacon\n    get positionX(){\n        //Update the x position\n        this.x = 2*R*Math.cos((this.lat + AnchorLat)/2)*Math.sin(((this.long - AnchorLong))/2);\n\n        //return the x position\n        return this.x\n    }\n    get positionY(){\n        //Update the y position\n        this.y = 2*R*Math.sin(((this.lat-AnchorLat))/2)\n\n        //return the y position\n        return this.y;\n    }\n}\n\n//Takes an MQTT command and sends it to the appropriate section\n//Does not send if the command does not match\n//This code is initializing or sending new position data for a beacon\nvar MQTTMessage = msg.payload;\nvar MQTTTopic = msg.topic;\nif(MQTTTopic == \"beacon/output\"){\n    if (MQTTMessage.includes(\"ID\") && MQTTMessage.includes(\"Long\") && MQTTMessage.includes(\"Lat\")){\n        UpdateBeacon(MQTTMessage);\n    }\n    else if(MQTTMessage.includes(\"ID\") && MQTTMessage.includes(\"Cont\")){\n        PairContainer(MQTTMessage)\n    }\n}\nelse if (MQTTTopic == \"server/position_in\"){\n    GetContainerPosition(MQTTMessage);\n}\nelse if (MQTTTopic == \"server/cont_rm\"){\n    RemoveContainer(MQTTMessage);\n}\nelse if (MQTTTopic == \"server/cond_add\"){\n    AddContainer(MQTTMessage);\n}\n\n//Called by BeaconMQTTHandler\n//Updates the beacon data in the list\nfunction UpdateBeacon(MQTTINPUT){\n    //Split input into sections basec on commas\n    var MQTTData = MQTTINPUT.split(',');\n\n    //Get ID from the input, ID is one index after ID\n    var BeaconID = MQTTData[MQTTData.indexOf(\"ID\")+1];\n    var BeaconLong = parseFloat(MQTTData[MQTTData.indexOf(\"Long\")+1])/10000000;\n    var BeaconLat = parseFloat(MQTTData[MQTTData.indexOf(\"Lat\")+1])/10000000;\n    \n    //If it is the anchor, update the anchor\n    //The anchor will have an ID A0\n    if(BeaconID == \"A0\"){\n        AnchorLong = BeaconLong;\n        AnchorLat = BeaconLat;\n        flow.set(\"AnchorLong\", AnchorLong);\n        flow.set(\"AnchorLat\", AnchorLat);\n    }\n    //Otherwise, what was detected must have been a beacon\n    else{\n        //Check if it matches any ID currently stored\n        var contains = false;\n        for(i=0; i<BeaconList.length; ++i){\n            //Check if the beacon ID matches\n            if(BeaconList[i].getID == BeaconID){\n                //If it matches, update the long and lat\n                BeaconList[i].setLong(BeaconLong);\n                BeaconList[i].setLat(BeaconLat);\n                contains = true;\n                flow.set(\"BeaconList\", BeaconList);\n            }\n        } \n        //If no beacon matches, add it to the list\n        if(contains === false){\n            let newBeacon = new Beacon(BeaconID, BeaconLong, BeaconLat);\n            BeaconList.push(newBeacon);\n            flow.set(\"BeaconList\", BeaconList);\n            \n            //Issue a list of all valid containers to the beacon\n            var ReturnMQTT = 'ID';\n            ReturnMQTT = ReturnMQTT.concat(',', BeaconID, 'ContainerList');\n            for(j=0; j<ContainerList.length; ++i){\n                ReturnMQTT = RETURNMQTT.concat(',',ContainerList[j]);\n            }\n            msg.topic = \"beacon/input\";\n            msg.payload = ReturnMQTT;\n            node.send(msg);\n        }\n    }\n}\n\n//Called by beacon MQTT handler\n//Pairs a beacon with a container\nfunction PairContainer(MQTTINPUT){\n    //Split input into sections basec on commas\n    var MQTTData = MQTTINPUT.split(',');\n    //Get ID from the input, ID is one index after ID\n    var BeaconID = MQTTData[MQTTData.indexOf(\"ID\")+1];\n    //Get container name from the input, located one index after Cont\n    var ContainerID = MQTTData[MQTTData.indexOf(\"Cont\")+1];\n\n    //Locate the beacon ID in the list and add the container ID\n    for(i=0; i<BeaconList.length; ++i){\n        //Check if the beacon ID matches\n        if(BeaconList[i].getID == BeaconID){\n            //Set the containerID\n            BeaconList[i].setContainer(ContainerID);\n            flow.set(\"BeaconList\", BeaconList);\n            //Issue a list of containers for pairing to the beacon\n            //TODO\n            //var ReturnMQTT = 'ID';\n            //ReturnMQTT = ReturnMQTT.concat(',', BeaconID, 'ContainerPaired');\n            //BeaconSendMQTT(ReturnMQTT);\n        }\n    }\n}\n\n//Returns the current position of a container\nfunction GetContainerPosition(ContainerID){\n    var x1=0, x2=0, y1=0, y2=0, num=0, angle = 0, xavg = 0, yavg = 0;\n    \n    //If there are two, return the average xy and angle\n    for(i=0; i<BeaconList.length; ++i){\n        if(BeaconList[i].container == ContainerID){\n            //If this is the first beacon, move to 1\n            if(num < 1){\n                x1 = BeaconList[i].positionX;\n                y1 = BeaconList[i].positionY;\n                ++num;\n            }\n            //If this is the second beacon, add to 2\n            else{\n                x2 = BeaconList[i].positionX;\n                y2 = BeaconList[i].positionY;\n                ++num;\n            }\n        }\n    }\n    //If there is only one, return the xy and 0 angle\n    if(num == 1){\n        xavg = x1;\n        yavg = y1;\n    }\n    //Otherwise, calculate the average pos and angle of the container\n    else{\n        xavg = (x1+x2)/2;\n        yavg = (y1+y2)/2;\n        angle = Math.atan2(y2-y1, x2-x1) * 180 / Math.PI;\n    }\n    \n    var ReturnString = ContainerID.concat(\",x\",xavg,\",y,\",yavg,\",ang,\",angle);\n    msg.topic = \"server/position_out\";\n    msg.payload = ReturnString;\n    node.send(msg);\n}\n\n//Removes a container from the list\nfunction RemoveContainer(ContainerID){\n//Removes beacons associated with a container\n    //Find all beacons associated with a container ID\n    for(i=0; i<BeaconList.length; ++i){\n        //Check if the container ID matches\n        if(BeaconList[i].container == ContainerID){\n            BeaconList.splice(i,1);\n            flow.set(\"BeaconList\", BeaconList);\n            //Move the indexing back to ensure we don't skip one\n            --i;\n        }\n    }\n    //Remove the container from the list\n    for(i=0; i<ContainerList.length; ++i){\n        if(ContainerList[i] == ContainerID){\n            ContainerList.splice(i,1);\n            flow.set(\"ContainerList\", ContainerList);\n            --i;\n        }\n    }\n}\n\n//Adds a container to the list of being tracked\nfunction AddContainer(ContainerID){\n    var DoesNotContain = true;\n    //Check if the list currently contains the container\n    //Only add the container if it is not here\n    for(i=0; i<ContainerList.length; ++i){\n        if(ContainerList[i] == ContainerID){\n            DoesNotContain = false;\n        }\n    }\n    if(DoesNotContain){\n        ContainerList.push(ContainerID);\n        flow.set(\"ContainerList\", ContainerList);\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":950,"y":260,"wires":[["fad42fc8.1291a"]]},{"id":"ce655c5e.fd58e","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"beacon/output","qos":"2","datatype":"utf8","broker":"58d78ba8.967cb4","x":710,"y":260,"wires":[["d947c3e0.6face"]]},{"id":"fad42fc8.1291a","type":"mqtt out","z":"746b94d8.ac227c","name":"","topic":"","qos":"2","retain":"","broker":"58d78ba8.967cb4","x":1170,"y":260,"wires":[]},{"id":"c29a7280.2e3d4","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"server/position_in","qos":"2","datatype":"utf8","broker":"58d78ba8.967cb4","x":660,"y":320,"wires":[["d947c3e0.6face"]]},{"id":"8b729822.cd6788","type":"function","z":"746b94d8.ac227c","name":"Get container position","func":"//Returns the X and Y position of a container and angle orientation\n//Takes the container ID as input\nvar ContainerID = msg.payload;\n    var x1=0, x2=0, y1=0, y2=0, num=0, angle = 0, xavg = 0, yavg = 0;\n    //If there are two, return the average xy and angle\n    for(i=0; i<BeaconList.length; ++i){\n        if(BeaconList[i].container == ContainerID){\n            //If this is the first beacon, move to 1\n            if(num < 1){\n                x1 = BeaconList[i].positionX;\n                y1 = BeaconList[i].positionY;\n                ++num;\n            }\n            //If this is the second beacon, add to 2\n            else{\n                x2 = BeaconList[i].positionX;\n                y2 = BeaconList[i].positionY;\n                ++num;\n            }\n        }\n    }\n    //If there is only one, return the xy and 0 angle\n    if(num == 1){\n        xavg = x1;\n        yavg = y1;\n        //return [x1, y1, angle];\n    }\n    //Otherwise, calculate the average pos and angle of the container\n    else{\n        xavg = (x1+x2)/2;\n        yavg = (y1+y2)/2;\n        angle = Math.atan2(y2-y1, x2-x1) * 180 / Math.PI;\n        //return [xavg, yavg, angle];\n    }\n    \n    var ReturnString = ContainerID.concat(\",x\",xavg,\",y\",yavg,\",ang\",angle);\n    return ReturnString;\n","outputs":1,"noerr":0,"x":970,"y":320,"wires":[[]]},{"id":"debb3a62.de8668","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"server/cont_rm","qos":"2","datatype":"utf8","broker":"58d78ba8.967cb4","x":700,"y":380,"wires":[["d947c3e0.6face"]]},{"id":"17ea82a6.d402bd","type":"function","z":"746b94d8.ac227c","name":"Remove container from list","func":"var ContainerID = msg.payload;\n//Removes beacons associated with a container\n    //Find all beacons associated with a container ID\n    for(i=0; i<BeaconList.length; ++i){\n        //Check if the container ID matches\n        if(BeaconList[i].container == ContainerID){\n            BeaconList.splice(i,1);\n            //Move the indexing back to ensure we don't skip one\n            --i;\n        }\n    }\n    //Remove the container from the list\n    for(i=0; i<ContainerList.length; ++i){\n        if(ContainerList[i] == ContainerID){\n            ContainerList.splice(i,1);\n            --i;\n        }\n    }\n","outputs":0,"noerr":0,"x":990,"y":380,"wires":[]},{"id":"cda662c3.c8ced","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"server/cont_add","qos":"2","datatype":"utf8","broker":"58d78ba8.967cb4","x":720,"y":440,"wires":[["d947c3e0.6face"]]},{"id":"abff341f.40a398","type":"function","z":"746b94d8.ac227c","name":"Adds container to list","func":"var ContainerID = msg.payload;\n\n//Adds a container to the list of being tracked\n//function AddContainer(ContainerID){\n    var DoesNotContain = true;\n    //Check if the list currently contains the container\n    //Only add the container if it is not here\n    for(i=0; i<ContainerList.length; ++i){\n        if(ContainerList[i] == ContainerID){\n            DoesNotContain = false;\n        }\n    }\n    if(DoesNotContain){\n        ContainerList.push(ContainerID);\n    }\n//}\n","outputs":0,"noerr":0,"x":980,"y":440,"wires":[]},{"id":"8d775e42.ec918","type":"inject","z":"746b94d8.ac227c","name":"Beacon2Position","topic":"beacon/output","payload":"ID,B2,Lat,374273530,Long,-1221698470","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":500,"wires":[["65c78d60.629d44"]]},{"id":"e327e92.8a7e818","type":"inject","z":"746b94d8.ac227c","name":"AnchorPosition","topic":"beacon/output","payload":"ID,A0,Lat,374273520,Long,-1221698420","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":440,"wires":[["65c78d60.629d44"]]},{"id":"26936d43.27c322","type":"mqtt out","z":"746b94d8.ac227c","name":"","topic":"","qos":"2","retain":"","broker":"58d78ba8.967cb4","x":430,"y":340,"wires":[]},{"id":"f2723649.16d158","type":"comment","z":"746b94d8.ac227c","name":"Server output","info":"","x":430,"y":300,"wires":[]},{"id":"615d192b.0aa918","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"server/position_out","qos":"2","datatype":"auto","broker":"58d78ba8.967cb4","x":910,"y":800,"wires":[["70f4a6a0.fa4d18"]]},{"id":"70f4a6a0.fa4d18","type":"debug","z":"746b94d8.ac227c","name":"Angular","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":800,"wires":[]},{"id":"1649814a.cb18df","type":"comment","z":"746b94d8.ac227c","name":"Data being sent to angular","info":"","x":970,"y":760,"wires":[]},{"id":"7a3de0ae.a29d3","type":"inject","z":"746b94d8.ac227c","name":"Find container MC-741","topic":"server/position_in","payload":"MC-741","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[["26936d43.27c322"]]},{"id":"f634b548.87eb08","type":"comment","z":"746b94d8.ac227c","name":"Data sent by beacon2 when movement detected","info":"","x":340,"y":520,"wires":[]},{"id":"dd71fd8c.35b9","type":"comment","z":"746b94d8.ac227c","name":"Data sent by anchor when movement detected","info":"","x":330,"y":460,"wires":[]},{"id":"4240e09e.5acec","type":"inject","z":"746b94d8.ac227c","name":"Beacon2ID","topic":"beacon/output","payload":"ID,B2,Cont,MC-741","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":680,"wires":[["65c78d60.629d44"]]},{"id":"d3fd80a.6541e8","type":"comment","z":"746b94d8.ac227c","name":"Data sent by beacon2 when valid container ID detected","info":"The beacon will receive a list of valid container IDs from the server. Once a valid one is detected, it sends the detected ID which pairs the beacon with the container","x":360,"y":700,"wires":[]},{"id":"5e4ec32b.66011c","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"server/position_in","qos":"2","datatype":"auto","broker":"58d78ba8.967cb4","x":900,"y":920,"wires":[["f1535d02.8f96a"]]},{"id":"f1535d02.8f96a","type":"debug","z":"746b94d8.ac227c","name":"Node red","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":920,"wires":[]},{"id":"4325005f.8b913","type":"comment","z":"746b94d8.ac227c","name":"Data being sent from angular","info":"","x":980,"y":880,"wires":[]},{"id":"58d78ba8.967cb4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]