Beacon/flows.json
[{"id":"746b94d8.ac227c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fea769c0.29c548","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"beacon/output","qos":"2","datatype":"auto","broker":"58d78ba8.967cb4","x":890,"y":580,"wires":[["a98b62f5.f4b9d"]]},{"id":"a98b62f5.f4b9d","type":"debug","z":"746b94d8.ac227c","name":"Raspberry Pi Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":580,"wires":[]},{"id":"65c78d60.629d44","type":"mqtt out","z":"746b94d8.ac227c","name":"","topic":"","qos":"2","retain":"","broker":"58d78ba8.967cb4","x":590,"y":560,"wires":[]},{"id":"7eefccfe.11b064","type":"inject","z":"746b94d8.ac227c","name":"Beacon1Position","topic":"beacon/output","payload":"ID,B1,Lat,37.427355,Long,-122.169848","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":560,"wires":[["65c78d60.629d44"]]},{"id":"22d81a79.606516","type":"comment","z":"746b94d8.ac227c","name":"Data sent by beacon when movement detected","info":"","x":340,"y":580,"wires":[]},{"id":"4848e727.abc298","type":"inject","z":"746b94d8.ac227c","name":"Beacon1ID","topic":"beacon/output","payload":"ID,B1,Cont,MC-741","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["65c78d60.629d44"]]},{"id":"af3a3bd3.288568","type":"comment","z":"746b94d8.ac227c","name":"Data sent by beacon when valid container ID detected","info":"The beacon will receive a list of valid container IDs from the server. Once a valid one is detected, it sends the detected ID which pairs the beacon with the container","x":360,"y":640,"wires":[]},{"id":"49613849.3c00d8","type":"comment","z":"746b94d8.ac227c","name":"Beacon Output","info":"","x":600,"y":520,"wires":[]},{"id":"283da8af.049708","type":"comment","z":"746b94d8.ac227c","name":"Data being received from beacon","info":"","x":990,"y":540,"wires":[]},{"id":"28411c0d.f09684","type":"mqtt out","z":"746b94d8.ac227c","name":"","topic":"","qos":"2","retain":"","broker":"58d78ba8.967cb4","x":570,"y":760,"wires":[]},{"id":"babe90d4.00aff","type":"comment","z":"746b94d8.ac227c","name":"Beacon Input","info":"","x":570,"y":720,"wires":[]},{"id":"f6ef3553.09d7d8","type":"inject","z":"746b94d8.ac227c","name":"ValidContainerIDs","topic":"beacon/input","payload":"Containers, MC-734, MC-821, MC-824","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":760,"wires":[["28411c0d.f09684"]]},{"id":"2b7e7d33.ac0c52","type":"comment","z":"746b94d8.ac227c","name":"List of valid container IDs sent to beacon","info":"","x":360,"y":780,"wires":[]},{"id":"1d9af9cb.c1e836","type":"inject","z":"746b94d8.ac227c","name":"BeaconCommand","topic":"beacon/input","payload":"ID,B1,Command, 01","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":820,"wires":[["28411c0d.f09684"]]},{"id":"d2d0e8bd.75d4c8","type":"comment","z":"746b94d8.ac227c","name":"Sends a command to a specific beacon","info":"Exact form and function of command is undefined\nIt may light an LED or trigger a position update or put it to sleep","x":350,"y":840,"wires":[]},{"id":"7c0b7cd4.5bf3e4","type":"mqtt in","z":"746b94d8.ac227c","name":"","topic":"beacon/input","qos":"2","datatype":"auto","broker":"58d78ba8.967cb4","x":890,"y":680,"wires":[["64fc2d00.4f1fa4"]]},{"id":"64fc2d00.4f1fa4","type":"debug","z":"746b94d8.ac227c","name":"Raspberry Pi Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":680,"wires":[]},{"id":"ae07b7d4.260a58","type":"comment","z":"746b94d8.ac227c","name":"Data being set to beacon","info":"","x":970,"y":640,"wires":[]},{"id":"58d78ba8.967cb4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]